@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-4 md:px-6 py-1.5 rounded-full text-white/70 text-sm md:text-base font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}

::selection {
  background-color: #a7f3d0;
  color: #111827;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
